---
{% for instance in hosts['results'] %}
- address: {{ instance['networkInterfaces'][0]['accessConfigs'][0]['natIP'] }}
  identity_file: {{ ssh_identity_file }}
  instance: {{ instance['name'] }}
  port: {{ ssh_port }}
  user: {{ ssh_user }}
{% endfor %}
